page-home {
    ion-card{
        text-align: center;
    }

    .largeFont{
        font-size:2.5em;
    }

    ion-card-header{
        color: #a10327!important;
    }

    .fa{
        font-size:1.5em;
    }
}
